
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');


body{
  font-family: eb garamond;
}
.file-upload-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border-radius: 10px;
  width: 200px;

}
.file-upload-label:hover{
  box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.1);
}
.file-upload-input {
  display: none;
}

.file-upload-icon {
  margin-right: 8px;
}
.image{
  background-image: url("/bgflower.jpg");
  background-size: cover;
}